- hosts: all
  vars:
    ansible_python_interpreter: "/usr/bin/python3"
  remote_user: ubuntu
  tasks:
    - authorized_key:
        user: ubuntu
        state: present
        manage_dir: yes
        key: "{{ lookup('file', '/home/{user}/.ssh/id_rsa.pub') }}"
